# MongoDB Connection String
MONGODB_URI=mongodb+srv://harisami73_db_user:2zWnQDNQqQmHN1WM@ridersoftechnopark.vmwj2qw.mongodb.net/?appName=ridersoftechnopark

# Application Port
PORT=3001

# Public Base URL for API calls
NEXT_PUBLIC_BASE_URL=http://localhost:3001
